<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="snakeImageURL1" value="https://cdn.pixabay.com/photo/2013/07/13/13/42/animal-161424_1280.png" />
    <add key="snakeImageURL2" value="https://cdn.pixabay.com/photo/2013/07/13/12/05/rattlesnake-159135_1280.png" />
    <add key="snakeImageURL3" value="https://cdn.pixabay.com/photo/2014/04/03/11/55/snake-312561_1280.png" />
    <add key="snakeImageURL4" value="https://cdn.pixabay.com/photo/2016/03/31/19/29/animals-1295060_1280.png" />
    <add key="snakeImageURL5" value="https://cdn.pixabay.com/photo/2017/01/31/20/15/snake-2026959_1280.png" />
    <add key="foodImagePath1" value="/images/apple.png"/>
    <add key="foodImagePath2" value="/images/cherries.png"/>
    <add key="foodImagePath3" value="/images/strawberry.png"/>
    <add key="foodImagePath4" value="/images/pear.png"/>
    <add key="foodImagePath5" value="/images/banana.png"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>